@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

@layer base {
  :root {
    --color-primary: 210deg 11% 96%;
    --color-secondary: 0deg 0% 100%;
    --color-text: 216deg 8% 12%;
    --color-textInverted: 216deg 14% 93%;
    --color-accent: 240deg 79% 72%;
  }
}

:root[theme="dark"] {
  --color-primary: 216deg 8% 12%;
  --color-secondary: 210deg 3% 15%;
  --color-text: 216deg 14% 93%;
  --color-textInverted: 216deg 8% 12%;
  --color-accent: 240deg 79% 72%;
}
